:root {
	--reveal: #D93E29;
	--select: #29D9CA;
}
.hidden-text {
	color: transparent;
	background-color: gray;
}

.hidden-text.current {
	background-color: var(--select);
}
.hidden-text.revealed {
	color: var(--reveal);
	background-color: transparent;
}

.hidden-text:hover {
	color: var(--reveal);
	background-color: transparent;
}

