:root {
	--reveal: #D93E29;
	--select: #D93E29;
	--mark: black;
	--mark-select: #992c1e;
}

body {
	margin: 0 auto;
}
.hidden-text {
	color: transparent;
	background-color: gray;
}

.current {
	background-color: var(--select);
}

.mark.current {
	background-color: var(--mark-select);
}

.revealed {
	color: var(--reveal);
	background-color: transparent;
}

.mark {
	background-color: var(--mark);
}

.mark.revealed {
	color: var(--mark-select);
	background-color: transparent;
}
.hidden-text:hover {
	color: var(--reveal);
	background-color: transparent;
}

#userInput {
	position: fixed;
	bottom: 10px; /* Adjust as needed */
	width: 50%;
	font-size: 100%;
	z-index: 1000; /* Ensure it stays on top */
	padding; 5%;
}

#nextBtn {

	position: fixed;
	top: 10px; /* Adjust as needed */
}
